@font-face {
  font-family: 'Hello Ketta';
  src: url('/Fonts/HelloKetta-d99oX.ttf') format('truetype');
}



#div1{
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  font-family:  'Hello Ketta';
}
h1{
  align-items: center;
}
.Addtask{
    display: flex;
    flex-direction: row;

    
}
#add{
 size: auto;
}
#checkbutton{
  background-color: transparent;
  border: none;
  color: inherit; /* keeps text color from parent */
  cursor: pointer;
  padding: 0.5em 1em;
}
#list{
  display: flex;
  align-items: flex-start;

}